.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#waterfall {
  width: 100%;
  height: 3500px;
  background-image: url('./waterfall.jpg');
  background-size: cover;
}

#waterfall::after {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  height: 3500px;
  width: 100%;
  background: linear-gradient(transparent, white);
  pointer-events: none;
}

#waterfallContainer {
  padding: 10px;
  align-items: flex-start;
}

#headerTitle {
  color: #FFF;
  font-size: 100px;
}  

#headerSubtitle {
  color: #FFF;
  font-size: 75px;
}

@media (max-width: 767px) {
  #headerTitle {
    font-size: 75px;
  }
  
  #headerSubtitle {
    font-size: 50px;
  }
}

@media (max-width: 400px) {
  #headerTitle {
    font-size: 50px;
  }  

  #headerSubtitle {
    font-size: 25px;
  }
}